/* sale component */
.mainSale {
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}
.off_sale {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}
.sun {
  width: 45px;
  object-fit: cover;
}
.off_parag {
  margin-left: 20px;
}
.buy {
  background-color: black;
  color: white;
  border-radius: 20px;
  margin-left: 10px;
  padding: 8px;
  border: none;
  cursor: pointer;
}
.buy:hover {
  opacity: 0.9;
}
.delete {
  width: 30px;
  margin: 8px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: transparent;
  transition: 0.3s;
  cursor: pointer;
}
.delete:hover {
  background-color: red;
}
