/* health cards component */
.health_container {
    background-color: lightgray;
  }
  .health_para_container {
    padding: 20px 43px;
    margin-bottom: -20px;
  }
  .violet_atlas {
    color: blueviolet;
  }
  .health_cards_container {
    display: flex;
    padding: 10px 20px;
    overflow-y: scroll;
  }
  .health_card {
    margin: 20px;
    cursor: pointer;
  }