/* root */
#root {
  max-width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
}
/* header component*/
.header {
  position: relative;
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container {
  display: flex;
  margin-top: -20px;
  padding: 10px 20px;
}
.link-part {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
}
.icon-part {
  padding: 25px;
}
.header .logo {
  padding: 30px;
}
.logo {
  font-size: 25px;
  color: white;
}
.menu .links {
  display: flex;
}
.menu .links .list {
  padding: 10px 10px;
  list-style-type: none;
  font-size: 14px;
}
.link {
  text-decoration: none;
  color: white;
}
.link:hover {
  text-decoration: underline;
}
.main-big-part {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.big-part {
  padding: 10px 45px;
  display: flex;
  flex-direction: column;
}
.blog,
.health {
  color: white;
}
.blog {
  font-size: 45px;
  margin-bottom: 10px;
}
.answer {
  color: black;
  background-color: pink;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 0px 10px;
}
.question {
  background-color: yellow;
  color: black;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 0px 10px;
}
.health {
  margin-bottom: 20px;
}
/* header icons */
.cart,
.person,
.search {
  width: 40px;
  border: 1px solid black;
  border-radius: 50%;
  padding: 5px;
  transition: 0.3s;
  cursor: pointer;
  margin: 5px;
}
.cart:hover {
  background-color: aqua;
}
.person:hover {
  background-color: aqua;
}
.search:hover {
  background-color: aqua;
}
/* masked image */
.mask {
  position: absolute;
  align-items: center;
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%);
}
/* sale component */
.mainSale {
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}
.off-sale {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}
.sun {
  width: 45px;
  object-fit: cover;
}
.off-parag {
  margin-left: 20px;
}
.buy {
  background-color: black;
  color: white;
  border-radius: 20px;
  margin-left: 10px;
  padding: 8px;
  border: none;
  cursor: pointer;
}
.buy:hover {
  opacity: 0.9;
}
.delete {
  width: 30px;
  margin: 8px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: transparent;
  transition: 0.3s;
  cursor: pointer;
}
.delete:hover {
  background-color: red;
}
/* dna component */
.dna-container {
  position: relative;
  background-color: white;
  display: flex;
  padding: 10px 20px;
  flex-wrap: wrap;
}
.dna-card {
  border: 1px solid lightgrey;
  padding: 5px 10px;
  border-radius: 20px;
  margin: 15px 5px;
  cursor: pointer;
}
.grey {
  color: lightgray;
}
/* urban component */
.urban-container {
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px 30px;
}
.urban-img-container {
  display: flex;
  justify-content: center;
}
.urban-img {
  max-width: 100%;
  border-radius: 20px;
}
.biome-container {
  padding: 12px;
}
.biome-h1 {
  margin-bottom: 20px;
  padding-top: 10px;
}
.grey-para {
  color: grey;
}
